<!DOCTYPE html>
<html lang="{{lang_code}}">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HYZRN50KKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HYZRN50KKP');
</script>

  <title>{{site_title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/owl-carousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/css/owl.theme.default.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/aos/css/aos.css">
  <link rel="stylesheet" href="../css/style.min.css">
  <link rel="stylesheet" href="../css/mine.css">
  <!-- Favicon for standard browsers -->
  <link rel="icon" type="image/png" href="../images/favicon.png">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img style="display: inline-block; height: 27px; margin: auto 0;" src="../images/logo.png" alt="">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button> 
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="../images/logo.png" alt="ArtfyYou logo">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{lang_url}}" style="width:220px;">{{lang_switch}}</a>
          </li>
          <!--
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
          </li>
        -->
        </ul>
      </div>
    </div> 
    </nav>   
  </header>

  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold">{{header_title}}</h1>
      <h6 class="font-weight-normal text-muted pb-3">{{header_slogan}}</h6>
      <div>
        <button class="btn btn-opacity-light mr-1" id="get-started">{{get_started}}</button>
      </div>
      <br /><br />
      <img src="../images/header_{{lang_code}}.png" alt="" class="img-fluid">
    </div>
  </div>

  <div class="content-wrapper">
    <div class="container">
      <form id="uploadForm" method="post" enctype="multipart/form-data">
      <section class="art-style-pick" id="art-style-pick-section">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2>{{step_1}}</h2>
            <h6 class="section-subtitle text-muted">{{step_1_description}}</h6>
          </div>
          <div class="col-12 col-md-6 col-lg-6 stretch-card mb-6 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0" data-id="like_for_like" data-background-img="../images/like-for-like_{{lang_code}}.png">
                <div class="style bg-primary text-center card-contents" style="background-image: url('../images/like-for-like_{{lang_code}}.png');">
                  <div class="card-image">
                  </div>  
                  <input type="checkbox" class="large-checkbox" />
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{{like_for_like}}</h6>
                    <p>{{like_for_like_description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 stretch-card mb-6 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0" data-id="sitting_in_chair">
                <div class="style bg-warning text-center card-contents" style="background-image: url('../images/sitting-in-chair_{{lang_code}}.png');">
                  <div class="card-image">
                  </div>  
                  <input type="checkbox" class="large-checkbox" />
               </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{{sitting_in_chair}}</h6>
                    <p>{{sitting_in_chair_description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 stretch-card mb-6 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0" data-id="film_noir">
                <div class="style bg-warning text-center card-contents" style="background-image: url('../images/film_noir_{{lang_code}}.png');">
                  <div class="card-image">
                  </div>  
                  <input type="checkbox" class="large-checkbox" />
               </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{{film_noir}}</h6>
                    <p>{{film_noir_description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 stretch-card mb-6 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0" data-id="neon">
                <div class="style bg-warning text-center card-contents" style="background-image: url('../images/neon_{{lang_code}}.png');">
                  <div class="card-image">
                  </div>  
                  <input type="checkbox" class="large-checkbox" />
               </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{{neon}}</h6>
                    <p>{{neon_description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 stretch-card mb-6 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0" data-id="snow">
                <div class="style bg-warning text-center card-contents" style="background-image: url('../images/snow_{{lang_code}}.png');">
                  <div class="card-image">
                  </div>  
                  <input type="checkbox" class="large-checkbox" />
               </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{{snow}}</h6>
                    <p>{{snow_description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 stretch-card mb-6 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0" data-id="line_art">
                <div class="style bg-warning text-center card-contents" style="background-image: url('../images/line_art_{{lang_code}}.png');">
                  <div class="card-image">
                  </div>  
                  <input type="checkbox" class="large-checkbox" />
               </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{{line_art}}</h6>
                    <p>{{line_art_description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="features-overview" id="photo-upload-section" >
        <div class="content-header">
          <h2>{{step_2}}</h2>
          <h6 class="section-subtitle text-muted">{{step_2_sub}}</h6>
        </div>
      </section>

      <section class="step-upload" id="step-upload-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <img src="../images/photo-upload-guide_{{lang_code}}.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right" id="form">
            <h5 class="m-0">{{step_2_description}}</h5>
            <br /><br />
            <div class="col-lg-7 col-xl-6 p-0 form-div">
                <div class="form-group">
                  <label for="Name">{{select_to_upload}}</label>
                  <input type="file" class="form-control" id="photo" name="portrait" placeholder="{{your_portait}}">
                  <br />
                </div>
            </div>    
            <div class="col-lg-7 col-xl-6 p-0 form-div">
                <div class="form-group">
                  <label for="Name">{{your_email}}</label>
                  <input id="email" type="email" class="form-control" name="email" placeholder="{{your_email_place_holder}}">
                  <br />
                  <button id="submit" type="button" class="btn btn-success">{{submit}}</button>
                </div>
            </div>
            <div style="display: none;">
                <label><input id="like_for_like" type="checkbox" name="art_styles" value="like_for_like"> like_for_like</label><br>
                <label><input id="sitting_in_chair" type="checkbox" name="art_styles" value="sitting"> sitting </label><br>
                <label><input id="singing_pop_star" type="checkbox" name="art_styles" value="standing_singer"> standing_singer </label><br>
                <label><input id="model_posing" type="checkbox" name="art_styles" value="casual_sit"> casual_sit </label><br>
                <label><input id="film_noir" type="checkbox" name="art_styles" value="film_noir"> film_noir </label><br>
                <label><input id="neon" type="checkbox" name="art_styles" value="neon"> neon </label><br>
                <label><input id="snow" type="checkbox" name="art_styles" value="snow"> snow </label><br>
                <label><input id="line_art" type="checkbox" name="art_styles" value="line_art"> line_art </label><br>
            </div>
            <div class="success_prompt col-lg-7 col-xl-6 p-0 form-div" style="display: none;">
                <h5>{{success_title}}</h5>
                <br /><br />
            </div>
          </div>

          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right" id="success_prompt" style="display: none;">
            <h5 class="m-0">{{success_title}}</h5>
            <br /><br />
            <div class="col-lg-7 col-xl-6 p-0 form-div">
                <p>{{sucess_prompt}}</p>
            </div>    
          </div>
        </div>
      </section>     

      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin" >
          <div class="pb-4">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">{{contact_us_1}}</h4>
            <h4 class="pt-1" data-aos="fade-down">{{contact_us_2}}</h4>
          </div>
          <div data-aos="fade-up">
            <!-- <button class="btn btn-rounded btn-outline-danger">Contact us</button> -->
          </div>          
        </div>
      </section>

      <footer class="border-top">
        <p class="text-center text-muted pt-4">{{copyright}} © 2024<a href="https://artfyyou.com/" class="px-1">ArtfyYou.com</a>{{right_reserved}}</p>
      </footer>
      </form>
    </div> 
  </div>

  <!-- Modal for Contact - us Button -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" class="form-control" id="Email-1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="Message">Message</label>
              <textarea class="form-control" id="Message" placeholder="Enter your Message"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../vendors/jquery/jquery.min.js"></script>
  <script src="../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../vendors/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="../vendors/aos/js/aos.js"></script>
  <script src="../js/landingpage.js"></script>
  <script src="../{{lang_code}}/js/mine.js"></script>
</body>
</html>